<div class="navigation">
    <ul>
        <li>
            <h1 class="title">OLSoftware</h1>
        </li>
        <li>
            <a [routerLink]="['/not']">
                <span class="icon"><i class="fas fa-map"></i></span>
                <span class="title">Programación</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/not']">
                <span class="icon"><i class="fas fa-ellipsis-v"></i></span>
                <span class="title">Gestión de operaciones</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"><i class="fas fa-ellipsis-h"></i></span>
                <span class="title">Perfiles</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/roles']">
                <span class="icon"></span>
                <span class="title">Roles</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/users']">
                <span class="icon"></span>
                <span class="title">Usuario</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/not']">
                <span class="icon"><i class="far fa-file"></i></span>
                <span class="title">Reportes</span>
            </a>
        </li>
    </ul>
</div>